<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.customlockscreen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 外置存储Sdcard 读取权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.customlockscreen.view.activity.DarkThemeSettingActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.ChangeAvatarActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.LockScreenSettingActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.EditSortNoteActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.BackupDataActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.EditNoteAttributeActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.TimeRemindActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.AddSortNoteActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.AddNoteActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.DetailActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.SortNoteActivity" />
        <activity android:name="com.example.customlockscreen.view.activity.HomeActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.customlockscreen.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".service.AlertService"
            android:exported="false"
            android:process="system" />

        <receiver
            android:name=".service.AlertBootReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>